html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#buttoncontainer > button {
    width: 100px;
    height: 150px;
    cursor: pointer;
    margin: 20px;
    background-color: white;
    transition-property: background-color;
    transition-duration: 0.3s;
    
}

#instruction {
    width: 500px;
}
